*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tle{
    background-color: #F4F5FA;
}
#wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 30px;
    width: 100vw;
    height: 100px;
    
}

.logo{
    display: flex;
    justify-content: center;
}

.logo-text{
    font-family: 'Inter', sans-serif;
    padding-top: 1px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 1px;
    font-weight: 900;
    font-size: 18px;
}

.container{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.container-parts{
    font-size: 20px;
    font-weight: 500;
    cursor:pointer;
    
}

.container-parts:hover{
    color: blue;
}

.login-register{
    width: 100px;
    height: 50px;
    opacity: 0.8;
}

.login-register button{
    font-size: 16px;
    font-weight: 500;
    background-color: #0486dd;
    border-radius: 50px;
    border: 1px solid #0486dd;
    color: white;
    width: 150px;
    height: 40px;
    margin-top: 6px;
}

.login-register:hover{
    opacity: 1;

}
/* ************************Hero section******************* */
.hero-section{
    display: flex;
    justify-content: space-between;
    width: 1080px;
    margin: 0 auto;


}

.hero-section .left-content{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;

}
.hero-section .left-content .topic-left-content{
    font-family: sans-serif;
    font-size: 50px;
    font-weight: 500;
    line-height: 1.2;
    margin-bottom: 20px;

}
.hero-section .left-content .topic-left-content span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 55px;
    font-weight: 900;
}

.hero-section .left-content .details-left-content{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 2;
    margin-bottom: 30px;
}
.hero-section .left-content .button-left-content{
    background-color: #0486dd;
    height: 50px;
    width: 150px;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    padding-top: 15px;
    color: white;
    font-weight: 400;
    cursor: pointer;

}
